.form {
  height: 15rem;
  width: 20rem;
  border: 1px solid;
  margin-left: 1rem;
}
label {
  margin-left: 1rem;
}
input {
  margin-left: 2rem;
  margin-top: 2rem;
}
.btn {
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin-left: 3rem;
}
table {
  border: 1px solid;
  width: 50rem;
  min-height: 5rem;
  margin-top: 2rem;
}

thead th {
  background-color: #f0f0f0;
  padding: 0.5rem;
}

tbody td {
  padding-left: 0.2rem;
}
